.Cardscontainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(83, 78, 78); */
    /* width: 100%; */
    margin: 8% auto;

}