.FilterContainer {
    position: fixed;
    /* fija la posición de la barra de navegación */
    top: 55px;
    /* coloca la barra de navegación en la parte superior */
    left: 0;
    /* coloca la barra de navegación en el lado izquierdo */
    width: 100vw;
    /* ocupa el ancho completo del contenedor */
    background-color: #333;
    /* cambia el color de fondo */
    color: #fff;
    /* cambia el color de la fuente */
    display: flex;
    /* permite alinear los elementos en una línea */
    align-items: center;
    /* alinea los elementos en el centro */
    justify-content: center;
    /* alinea los elementos a la derecha */
    /* height: 50px; */
    margin: 2px;
    /* margin-left: -1vw; */
}

.FilterContainer select {
    width: 25vw;
    overflow: auto;
    font-size: 17px;
    padding: 8px;
    /* agrega un poco de espacio alrededor */
    background-color: transparent;
    /* elimina el color de fondo */
    border: none;
    /* elimina el borde */
    color: #fff;
    /* cambia el color de la fuente */
    cursor: pointer;
    /* cambia el cursor a "pointer" cuando el usuario pasa sobre el botón */
    line-height: 1;
    /* max-width: 50%; */
    box-sizing: border-box;
    line-height: 1.5;
    border-radius: 4px;
}

.FilterContainer option {
    width: auto;
    padding: 10px;
    /* agrega un poco de espacio alrededor */
    background-color: transparent;
    /* elimina el color de fondo */
    border: none;
    /* elimina el borde */
    color: rgb(13, 12, 12);
    /* cambia el color de la fuente */
    cursor: pointer;
    /* cambia el cursor a "pointer" cuando el usuario pasa sobre el botón */
    font-size: 15px;
    overflow: scroll;
}

.FilterContainer button {
    font-size: 17px;
    width: 15vw;
    padding: 10px;
    /* agrega un poco de espacio alrededor */
    background-color: transparent;
    /* elimina el color de fondo */
    border: none;
    /* elimina el borde */
    color: #fff;
    /* cambia el color de la fuente */
    cursor: pointer;
    /* cambia el cursor a "pointer" cuando el usuario pasa sobre el botón */
    box-shadow: 8px 8px 8px rgba(36, 36, 36, 0.609);
    border-radius: 7px;
}

@media screen and (max-width: 480px) {

    .FilterContainer select {
        /* box-sizing: content-box; */
        width: 100%;
        /* line-height: 150%; */
    }

    /* .FilterContainer option {
        height: -55px;
        font-size: 13px;
        line-height: 150%;
    } */
}