.Detailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    border-radius: 10px;
    margin: 2% auto;
    flex-wrap: wrap;
    background-color: rgba(184, 184, 184, 0.487);

}


.Detailcontainer img {
    width: 80%;
    height: 30%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
}

.Detailcontainer h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.Detailcontainer button {
    /* align-self: flex-end; */
    width: 17vw;
    font-size: 1rem;
    padding: 10px;
    background-color: #131211;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin-top: 1vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    border: none;
    cursor: pointer;
}


.abouText {
    margin-left: 6.5vw;
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.745);
    border-radius: .5em;
    padding: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutinf {
    width: 60vw;
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: -1vw;
    /* padding: 10px; */
}

.aboutcontext {
    padding: 5px;
}

.h3Ab {
    width: auto;
    color: rgb(22, 19, 19);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.pAb {
    width: auto;
    font-weight: 560;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    padding: .3em;
    background-color: rgba(153, 149, 152, 0.668);
    border-radius: .5em;
    margin-top: -3vh;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 770px) {
    .abouText {
        margin-left: 6.5vw;
    }

    .aboutinf {
        margin-left: 7vw;

    }
}

@media screen and (max-width: 480px) {
    .abouText {
        margin-left: 6vw;
        font-size: 15px;
    }

    .aboutinf {
        margin-left: 7.5vw;

    }

    .aboutcontext {
        padding: 5px;
    }

    .h3Ab {
        font-size: 15px;
    }

    .pAb {
        font-size: 13px;
    }
}