.Detailcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 55%;
    /* height: auto; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    border-radius: 10px;
    /* overflow: hidden; */
    margin: 2% auto;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(184, 184, 184, 0.487);
}


.Detailcontainer img {
    width: 60%;
    height: 30%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
}

.Detailcontainer h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.Detailcontainer p {
    font-size: 15px;
    display: block;
    margin-bottom: 1em;
    text-align: center;
    margin: 10px;
}

.Detailcontainer button {
    align-self: flex-end;
    width: 15%;
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #131211;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin-top: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    border: none;
    cursor: pointer;
}