.pagContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pageNumber {
    background-color: rgb(80, 76, 76);
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid rgb(203, 197, 197);
    box-shadow: -3px 1px 7px -3px rgba(43, 43, 43, 0.42);
    cursor: pointer;
}

.pageNumber:hover {
    transform: scale(1.15);
    background-color: #eee;
    color: #333;
    font-weight: bold;
}

.pageNumberActive {
    background-color: #eee;
    /* transform: scale(1.0); */
    font-weight: bold;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    border: none;
    box-shadow: -3px 1px 7px -3px rgba(43, 43, 43, 0.42);
    -webkit-box-shadow: -3px 1px 7px -3px rgba(43, 43, 43, 0.42);
    -moz-box-shadow: -3px 1px 7px -3px rgba(43, 43, 43, 0.42);
    cursor: pointer;
}

.botton {
    width: 75px;
    background-color: rgb(80, 76, 76);
    border: 1px solid rgb(203, 197, 197);
    border-radius: 10%;
    line-height: 25px;
    text-decoration: none;
    color: rgb(203, 197, 197);
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.609);
    cursor: pointer;
    margin: 5px;
}

.botton:hover {
    background-color: #eee;
    color: #333;
}

.pagination p {
    color: rgb(228, 225, 225);
    font-weight: bold;
    font-size: 17px;
}