body {
    background-color: rgb(57, 55, 55);
}

.LandingContainer {
    color: white;
    text-shadow: 4px 4px 4px black;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    flex-wrap: wrap;
    align-items: center;
    /* para la imagen de fondo */
    background-image: url('../../images/background_videogames_5.png');
    height: 100vh;
    background-size: contain;
    /* background-repeat: repeat; */
    background-position: center;
    /* background-size: 100%; */
    /* background-color: black; */
}

.LandingContainer h1 {
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 225, 57);
    /* margin-top: -0vh; */
}

.LandingContainer h2 {
    font-size: 50px;
    margin-top: -3vh;
    margin-bottom: 40vh;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 4px rgb(116, 0, 158);
}

.LandingContainer button {
    font-size: 20px;
    background-color: #9517a3;
    color: white;
    padding: 14px 50px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.9;
}

.LandingContainer button:hover {
    opacity: 10;
    transform: scale(1.1);
    transition: transform 1s;
    transition: color 2s;
    cursor: pointer;
}