body {
    background-color: rgb(57, 55, 55);
}

.LandingContainer {
    /* font-family: Arial, sans-serif; */
    font-family: 'Press Start 2P', cursive;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15% auto;

}

button {
    background-color: #507b51;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}